@tailwind base;
@tailwind components;
@tailwind utilities;



      /* Default styling for headings (h1 to h4) */

/* Heading 1 */
h1 {
    margin-bottom: 0.5em;
}

/* Heading 2 */
h2 {
    margin-bottom: 0.5em;
}

/* Heading 3 */

.my-footer {
        background: rebeccapurple;
}

:root {
    --clr-bg-dark: #1f2937; /* gray-800 */
    --clr-bg-light: #fafafa; /* zinc-50 */

    --clr-text-dark: #1f2937; /* gray-200 */
    --clr-text-light: #fafafa; /* zinc-50 */
}

.dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
}


.light {
    background-color: var(--clr-bg-light);
}
.dark {
    @apply bg-gray-800 text-zinc-50;
}

.dark {
    background-color: #282c34;
}

 article {
     padding: 16px;
     margin-bottom: 16px;
 }
.light article {
    background-color: #f0f0f0; /* Adjust this to the desired shade of grey */
    border-radius: 5%;
}


.dark article {
    background-color: #1f2937;
    border-radius: 5%;
}


.light h2 a{
    color: #000000;
}
.light h2 a:hover{
    color: rebeccapurple;
}

.dark h2 a:hover{
    color: #E30B5C;
}
.back-link {
    font-size: 1.2em;
    color: rebeccapurple/* Adjust this to the desired font size */
    /* Other styles... */
}
.table-of-content {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 5%;
}

.light.table-of-content {
    background-color: #f0f0f0;
}

.dark.table-of-content {
    background-color: #1f2937;
}

.header-link {
    display: flex;
    flex-direction: row;
}

.date {

}
.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tag {
    margin: 0.3rem;
}
.light .tag {
    background-color: rebeccapurple;
    border-radius: 15%;
}
.dark .tag {
    background-color: #E30B5C;
    border-radius: 15%;
}

a:hover {
    text-decoration: underline;
}
.go-back-link {
    margin: 1rem;

}

.blog-post {
    margin-bottom: 2rem;
}

img {
    margin : 10px;
}
