@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+3&display=swap');


      /* Default styling for headings (h1 to h4) */

/* Heading 1 */
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

/* Heading 2 */
h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

/* Heading 3 */
h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

/* Heading 4 */
h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.my-footer {
        background: rebeccapurple;
}

:root {
    --clr-bg-dark: #1f2937; /* gray-800 */
    --clr-bg-light: #fafafa; /* zinc-50 */

    --clr-text-dark: #1f2937; /* gray-200 */
    --clr-text-light: #fafafa; /* zinc-50 */
}

.dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
}

.light {
    background-color: var(--clr-bg-light);
    color: var(--clr-text-light);
}

.dark {
    @apply bg-gray-800 text-zinc-50;
}
